
* {
  --orange: rgb(206, 111, 9);
  --eggplant: rgb(39, 34, 41);
  --brick: rgb(109, 55, 46);
  --tan: rgb(197, 196, 152);
  --yellow: rgb(196, 196, 66);
  --black: rgb(24, 23, 23);
  --white: rgb(249, 246, 246);
  --grey: rgb(196, 191, 191);
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: auto; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 59%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 56%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 65%; } }

body {
  box-sizing: border-box;
  line-height: 1.5;
  overflow-x: hidden; 
  overflow-y: scroll; 
  font-family: 'Poppins', sans-serif;
}  

a {
  text-decoration: none;
  color: inherit; }

li {
  list-style: none;
  width: 100vw; }

input:focus,
button:focus,
a:focus,
textarea:focus {
  outline: none; }

button {
  border: none;
  cursor: pointer; }

textarea {
  resize: none; }

#unique-header{
  color: var(--black);
  margin-top: -6rem;
  width: 100vw; 
  font-family: 'Montserrat', sans-serif;
  font-size: 16.9vw ;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  font-weight: bold;
}
@media only screen and (max-width: 56.25em) {
  #unique-header {
    font-size: 16vw ;
    margin: -.25rem;} }

@keyframes fallDown {
   0% {
     transform: translateY(-100px);
     opacity: 0;
  }
  100% {
    transform: translateY(0);
     opacity: 1;
  }
} 
.fall-letter {
  display: inline-block;
  animation: fallDown 1s ease forwards;
}

#unique-p {
  margin: 0px 1rem .5rem 1rem;
  font-size: 1vw ;
  width: 99vw; 
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
}
@media only screen and (max-width: 56.25em) {
  #unique-p {
    visibility: hidden; } }

.sec-pad {
  padding: 12rem 0; }
  @media only screen and (max-width: 56.25em) {
    .sec-pad {
      padding: 8rem 0; } }

.text-primary {
  transform: scaleY(0.8);
  text-transform: uppercase;
  color: rgb(39, 34, 41);
  font-size: 2.0rem;
  line-height: 1.6;}

 /*-------------------------  project-pages  --------------------------*/
  
 .project-page {
  text-align: center;
  max-width: 100%;
  margin: auto;
  background-color: rgb(231, 232, 231);
  padding-top: 2%;
  padding-bottom: 3%;
 }

.project-info{
  text-align: left;
  width: 80%;
  margin: auto;
}

.project-info>h2{
  font-size: 3.5em;
  font-family: 'Montserrat', sans-serif;
  margin:  6rem auto 1.5rem auto;
  text-transform: uppercase;
}

.project-info>p{
  font-size: 2em;
  margin-bottom: 5rem;
}

.project-overview>h1 {
  width: 80%;
  font-size: 6vw;
  line-height: 80%;
  font-family: 'Montserrat', sans-serif;
  margin: 8rem auto 2rem auto;
  text-transform: uppercase;
}

.project-overview {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
}

.project-overview>p {
  width: 80%;
  font-size: 1.94em;
  letter-spacing: .25px;
  margin: 1rem auto 3rem auto;
  text-transform: uppercase;
  
}

.project-details>img {
  max-width: 80%;
  height: auto;
  margin: 2rem;
}

.project-links{
  display: flex;
}

.live-button {
  font-size: 2em;
  background-color: var(--orange);
  border-radius: 2px;
  color: var(--white); 
  text-transform: uppercase;
  transition: box-shadow 0.3s ease, color 0.3s ease;
  padding: 2.5% 9%;
  margin: 10px 0px 10vh 0px;

}.live-button:hover {
  box-shadow: 0 25px 35px rgba(0,0,0,0.4);
  ;}

  .code-button {
    font-size: 2em;
    background-color: var(--eggplant); 
    color: var(--white);
    border-radius: 2px;
    padding: 2.5% 9%;
    text-transform: uppercase;
    transition: box-shadow 0.3s ease, color 0.3s ease;
    margin: 10px 0px 10vh 10px;
  }.code-button:hover {
    box-shadow: 0 25px 25px rgba(0,0,0,0.4);
  };
  
  .skills-list {
    display: flex;
    margin-bottom: 5vh;
  }
  
  .skills-list > li {
    margin: auto auto 3vh 0px;
    text-align: center;
    font-size: 2rem; 
    width: 18%; 
    min-width: 200px;
    background-color: #f7f7f7;
    padding: 18px 10px;
    border-radius: 2px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
 
  .mobile-projects-header {
    display: none;
    justify-content: center;
    align-items: center;
    padding: 15px 0px 0px 0px;
}



@media screen and (max-width: 600px) { 
    .project-overview {
      text-align: left;
    }
    .project-overview>h1 {
      margin-top: 10vh;
      font-size: 10vw;
      line-height: 4.5vh;
    }
    .project-info>h2 {
      line-height: 4.5vh;
    }
    .project-details>img {
      max-width: 100%;
    }
    .code-button, .live-button {
      padding: 5% 10%;
      margin: auto .5em 4em auto;
    };
    .skills-list {
      display: flex;
      flex-wrap: wrap;
    }
    .skills-list > li {
      min-width: 300px;
      margin: auto auto 2vh auto;
      padding: 13px 10px;
    }
    .project-details>img {
      max-width: 90%;
      height: auto;
      margin: 2rem auto 0rem auto;
    }
    .mobile-projects-header {
      display: flex; /* Show only on mobile devices */
  }

}
/*---------------------------- Header ---------------------------*/
   
.header {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  position: fixed;
  top: 0; /* This ensures it sticks to the top */
  left: 0; /* Align to the left of the viewport */
  width: 100%; /* Use 100% rather than 100vw to avoid scrollbar issues */
  z-index: 1000;
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
}

.header__links {
  display: flex;
}

.header__link {
  padding: 0.5rem 12rem;
  display: inline-block;
  font-size: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 800;
  cursor: pointer;
}

.header__link-wrapper.tan {
  background: rgb(197, 196, 152);
}

.header__link-wrapper.tan .header__link {
  color: rgb(109, 55, 46);
}

.header__link-wrapper.tan .header__link:hover {
  color: #fff;
}

.header__link-wrapper.orange {
  background: rgb(206, 111, 9);
}

.header__link-wrapper.orange .header__link {
  color: rgb(39, 34, 41);
}

.header__link-wrapper.orange .header__link:hover {
  color: #fff;
}

.header__link-wrapper.brick {
  background: rgb(109, 55, 46);
}

.header__link-wrapper.brick .header__link {
  color: rgb(210, 119, 22);
}

.header__link-wrapper.brick .header__link:hover {
  color: #fff;
}

.header__link-wrapper.eggplant {
  background: rgb(39, 34, 41);
}

.header__link-wrapper.eggplant .header__link {
  color: rgb(197, 196, 152);
}

.header__link-wrapper.eggplant .header__link:hover {
  color: #fff;
}

/* Responsive styles for smaller screens */
@media only screen and (max-width: 56.25em) {
  .header__link {
    padding: 3rem 1.8rem;
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .header__link {
    padding: 2rem 1rem;
    font-size: 1.3rem;
  }
}


/*--------------------- footer--------------------- */

.heading-sm {
  font-size: 2.2rem;
  text-transform: uppercase;
  letter-spacing: 1px; }

.main-container {
  max-width: 150rem;
  margin: auto;
  width: 94.5%;
  text-align: left;
 }

.main-footer {
  background: var(--black);
  color: var(--white); }
  @media only screen and (max-width: 37.5em) {
    .main-footer {
      padding-left: 2rem;
      display: block; } }

  .main-footer__upper {
    display: flex;
    justify-content: space-between;
    padding: 7rem 0; }

    @media only screen and (max-width: 37.5em) {
      .main-footer__upper {
        display: block; } }
  .main-footer__row-1 {
    order: 2; }
    @media only screen and (max-width: 56.25em) {
      .main-footer__row-1 {
        margin-bottom: 5rem; } }

  .main-footer__short-desc {
    margin-top: 2rem;
    font-size: 1.5rem;
    line-height: 1.7; }
  .main-footer__social-cont {
    margin-top: 2rem; }
  .main-footer__icon {
    margin-right: 1rem;
    width: 2.5rem; }

/*--------------------- grid--------------------- */

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  grid-gap: 30px;
  margin: 10px 20px 50px 20px; 
}

.grid-item {
  background: var(--orange);
  color: #fafafa; 
  position: relative; 
  width: 100%;
  padding-top: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-item img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; 
}

.skills {
  background: var(--eggplant);
}

/* Grid overlay styles */
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: white;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(109, 55, 46);
  opacity: 0;
  transition: opacity .5s ease;
}

.grid-item:hover .overlay {
  opacity: 1;
}

/* Project header styles */
#project-header {
  font-size: 3.5vw;
  margin: .5rem auto 3rem auto;
  text-transform: uppercase;
  line-height: 5rem;
  font-weight: 800;
  margin-bottom: 5vh;
}

/* Skill list styles */
.skills-list {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 17px; 
  justify-content: center;
}

.skill {
  background: var(--white);
  color: var(--brick);
  padding: 3% 7%;
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  border: var(--grey) solid 4px;
  border-radius: 2px;
}

/* Grocery item styles */
.grocery-item {
  border: var(--grey) solid 1px;
}

.grocery-item:hover {
  border: none;
}

/* Contact item styles */
.contact-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 30px;
}

.grid-text-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  width: 80%; 
}

.grid-text-content h2 {
  font-size: 4.1vw;
  margin: -5rem auto 3rem auto;
  text-transform: uppercase;
}

.grid-text-content p {
  font-size: 1.6vw;
  margin: auto;
  width: 95%;
}

#contact-paragraph {
  margin-bottom: 7rem;
}

/* Responsive Grid Styles */
@media screen and (max-width: 56.25em) {
  .grid-container {
    grid-template-columns: 1fr;
  }

  #project-header {
    font-size: 7vw;
    line-height: 4rem;
    margin: .25rem auto 1.5rem auto;
  }

  .grid-text-content h2 {
    font-size: 7vw;
    margin: -.5rem auto 1rem auto;
  }

  .grid-text-content p {
    font-size: 3.5vw;
    margin: auto;
    width: 95%;
  }

  #contact-paragraph {
    margin-bottom: 4vh;
  }

  #contact-header {
    margin: -2rem auto 1rem auto;
  }
}

@media only screen and (max-width: 1200px) {
  .skills-list {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px; 
    justify-content: center;
  }
  
  .skill {
    background: var(--white);
    color: var(--brick);
    padding: 3% 6%;
    font-weight: bold;
    font-size: 1.25rem;
    text-align: center;
    border: var(--grey) solid 4px;
    border-radius: 2px;
  }
}


/*---------------------------- buttons ----------------------------*/
.orange-btn {
  margin-top: 4rem;
  font-size: 1.75em;
  width: 50%;
  background-color: var(--orange);
  border-radius: 2px;
  color: var(--white); 
  font-weight: 800;
  padding: 5% 10%;
  text-transform: uppercase;
  transition: box-shadow 0.3s ease, color 0.3s ease;
}

.orange-btn:hover {
  box-shadow: 0 25px 35px rgba(0,0,0,0.4);
}

.brick-btn {
  font-size: 1.75em;
  border-radius: 2px;
  width: 50%;
  background-color: var(--eggplant); 
  color: var(--white);
  font-weight: 800;
  padding: 5% 10%;
  transition: box-shadow 0.3s ease, color 0.3s ease;
}

.brick-btn:hover {
  box-shadow: 0 25px 25px rgba(0,0,0,0.4);
}

/* Responsive styles for medium screens */
@media screen and (max-width: 56.25em) {
  .orange-btn, .brick-btn {
    font-size: 1.5em;
    width: 60%;
    margin-top: 3.5vh;
    padding: 4% 8%; /* Slightly reduced padding */
  }
}

/* Further adjustments for smaller mobile devices */
@media only screen and (max-width: 600px) {
  .orange-btn, .brick-btn a.brick-btn> {
    font-size: 1.4em; /* Slightly smaller font size */
    width: 60%; /* Increased width for better touch accessibility */
    padding: 5% 7%; /* Reduced padding */
    margin-top: 2rem; /* Adjusted margin for smaller screens */
  }
}
